<form>
  <span>
<h1>Register</h1><br>
<input type ="text" name = "username" placeholder="username" value = '{{formValue}}'><br>
<input type ="password" name = "password" placeholder="password" value = '{{formValue}}'><br>
<input type = "text" name = "name" placeholder="name" value = '{{formValue}}'><br>
<input type="radio" name="gender" value="male" checked> Male<br>
<input type="radio" name="gender" value="female"> Female<br>
<input type="radio" name="gender" value="other"> Other<br>
<input type ="Submit" name ='' value = "Register" >


  </span>
</form>
